// Colors //
$main-gold-color: #b09e80;
$main-green-color: #3d5b35;
$main-white-color: #fefcf8;
$main-black-color: #22211f;

$hover-gold-color: #94805e;
$hover-green-color: #687c63;

// White space //
$margin-bottom-section: 16.8rem;
