.heading-secondary-wrapper {
  margin-bottom: 11.2rem;
  padding-top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-secondary-line {
  width: 12rem;
  height: 0.4rem;
  margin-top: 1.6rem;
  background-color: $main-gold-color;
}

@media (max-width: 1024px) {
  .heading-secondary-wrapper {
    margin-bottom: 6.4rem;
  }
}
