body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1024px) {
  body {
    font-size: 1.3rem;
  }
}

// @media (max-width: 768px) {
//   body {
//     font-size: 1rem;
//   }
// }

button {
  font-family: inherit;
}

.paragraph {
  text-align: justify;
}

.heading-primary {
  font-size: 6.4rem;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}

@media (max-width: 1024px) {
  .heading-primary {
    font-size: 4.8rem;
  }
}

@media (max-width: 768px) {
  .heading-primary {
    font-size: 3.9rem;
  }
}

.heading-secondary {
  font-size: 4.8rem;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

@media (max-width: 1024px) {
  .heading-secondary {
    font-size: 3.9rem;
  }
}

@media (max-width: 768px) {
  .heading-secondary {
    font-size: 3.1rem;
  }
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 600;
}

.heading-fourth {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  // padding: 2rem;
}

@media (max-width: 530px) {
  .heading-fourth {
    // text-align: center;
    font-size: 1.6rem;
    // font-weight: 600;
    // // padding: 2rem;
  }
}
